<a href="https://colab.research.google.com/github/letisalbal/Final-Project/blob/master/HeartDisease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings

%matplotlib inline

In [2]:
#Import the CSV File
from google.colab import files 
uploaded = files.upload()

Saving heart.csv to heart (5).csv

In [3]:
#Read and Display CSV File
import io
data = io.BytesIO(uploaded['heart.csv'])

heart_df = pd.read_csv(data)
heart_df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   52    1   0       125   212    0  ...      0      1.0      2   2     3       0
1   53    1   0       140   203    1  ...      1      3.1      0   0     3       0
2   70    1   0       145   174    0  ...      1      2.6      0   0     3       0
3   61    1   0       148   203    0  ...      0      0.0      2   1     3       0
4   62    0   0       138   294    1  ...      0      1.9      1   3     2       0

[5 rows x 14 columns]

In [6]:
#Rename the Columns
heart_df2 = (heart_df.rename(columns={"age": "Age", 
                                            "sex": "Gender", 
                                            "cp": "ChestPain", 
                                            "trestbps": "RestingBloodPressure", 
                                            "chol": "Cholesterol", 
                                            "fbs": "FastingBloodSugar", 
                                            "restecg": "RestingECG", 
                                            "thalach": "MaxHeartrate", 
                                            "exang":"ExerciseIndusedAngina",
                                            "oldpeak": "OldPeak",
                                            "slope": "Slope",
                                            "ca": "MajorVessels",
                                            "thal": "Thalassemia",
                                            "target": "Target"}))

heart_df2.head()

   Age  Gender  ChestPain  ...  MajorVessels  Thalassemia  Target
0   52       1          0  ...             2            3       0
1   53       1          0  ...             0            3       0
2   70       1          0  ...             0            3       0
3   61       1          0  ...             1            3       0
4   62       0          0  ...             3            2       0

[5 rows x 14 columns]

In [7]:
#Replace Values in Gender Column
heart_df2['Gender'].replace([0,1], ['Female', 'Male'], inplace=True)
heart_df2.head()

   Age  Gender  ChestPain  ...  MajorVessels  Thalassemia  Target
0   52    Male          0  ...             2            3       0
1   53    Male          0  ...             0            3       0
2   70    Male          0  ...             0            3       0
3   61    Male          0  ...             1            3       0
4   62  Female          0  ...             3            2       0

[5 rows x 14 columns]

In [8]:
#Replace Values in Chest Pain Column
heart_df2['ChestPain'].replace([0,1,2,3], ['Typical Angina', 'Atypical Angina', 'Non-Anginal', 'Asymptomatic'], inplace=True)
heart_df2.head()

   Age  Gender       ChestPain  ...  MajorVessels  Thalassemia  Target
0   52    Male  Typical Angina  ...             2            3       0
1   53    Male  Typical Angina  ...             0            3       0
2   70    Male  Typical Angina  ...             0            3       0
3   61    Male  Typical Angina  ...             1            3       0
4   62  Female  Typical Angina  ...             3            2       0

[5 rows x 14 columns]

In [9]:
#Replace Values in Fasting Blood Sugar Column
heart_df2['FastingBloodSugar'].replace([0,1], ['False', 'True'], inplace=True)
heart_df2.head()

   Age  Gender       ChestPain  ...  MajorVessels  Thalassemia Target
0   52    Male  Typical Angina  ...             2            3      0
1   53    Male  Typical Angina  ...             0            3      0
2   70    Male  Typical Angina  ...             0            3      0
3   61    Male  Typical Angina  ...             1            3      0
4   62  Female  Typical Angina  ...             3            2      0

[5 rows x 14 columns]

In [10]:
#Replace Values in Exercise Indused Angina Column
heart_df2['ExerciseIndusedAngina'].replace([0,1], ['No', 'Yes'], inplace=True)
heart_df2.head()

   Age  Gender       ChestPain  ...  MajorVessels  Thalassemia Target
0   52    Male  Typical Angina  ...             2            3      0
1   53    Male  Typical Angina  ...             0            3      0
2   70    Male  Typical Angina  ...             0            3      0
3   61    Male  Typical Angina  ...             1            3      0
4   62  Female  Typical Angina  ...             3            2      0

[5 rows x 14 columns]

In [11]:
#Replace Values in Slope Column
heart_df2['Slope'].replace([0,1,2], ['unsloping', 'flat', 'downsloping'], inplace=True)
heart_df2.head()

   Age  Gender       ChestPain  ...  MajorVessels  Thalassemia Target
0   52    Male  Typical Angina  ...             2            3      0
1   53    Male  Typical Angina  ...             0            3      0
2   70    Male  Typical Angina  ...             0            3      0
3   61    Male  Typical Angina  ...             1            3      0
4   62  Female  Typical Angina  ...             3            2      0

[5 rows x 14 columns]

In [12]:
#Replace Values in Thalassemia Column
heart_df2['Thalassemia'].replace([1,2,3], ['Normal', 'Fixed_Defect', 'Reversable_Defect'], inplace=True)
heart_df2.head()

   Age  Gender       ChestPain  ...  MajorVessels        Thalassemia Target
0   52    Male  Typical Angina  ...             2  Reversable_Defect      0
1   53    Male  Typical Angina  ...             0  Reversable_Defect      0
2   70    Male  Typical Angina  ...             0  Reversable_Defect      0
3   61    Male  Typical Angina  ...             1  Reversable_Defect      0
4   62  Female  Typical Angina  ...             3       Fixed_Defect      0

[5 rows x 14 columns]

In [15]:
#Replace Values in Target Column
heart_df2['Target'].replace([1,0], ['Heart Problem', 'No Heart Problem'], inplace=True)
heart_df2.head()

   Age  Gender  ...        Thalassemia            Target
0   52    Male  ...  Reversable_Defect  No Heart Problem
1   53    Male  ...  Reversable_Defect  No Heart Problem
2   70    Male  ...  Reversable_Defect  No Heart Problem
3   61    Male  ...  Reversable_Defect  No Heart Problem
4   62  Female  ...       Fixed_Defect  No Heart Problem

[5 rows x 14 columns]

In [17]:
#Print Entire Dataframe
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
heart_df2.head()

,Age,Gender,ChestPain,RestingBloodPressure,Cholesterol,FastingBloodSugar,RestingECG,MaxHeartrate,ExerciseIndusedAngina,OldPeak,Slope,MajorVessels,Thalassemia,Target
0,52,Male,Typical Angina,125,212,False,1,168,No,1.0,downsloping,2,Reversable_Defect,No Heart Problem
1,53,Male,Typical Angina,140,203,True,0,155,Yes,3.1,unsloping,0,Reversable_Defect,No Heart Problem
2,70,Male,Typical Angina,145,174,False,1,125,Yes,2.6,unsloping,0,Reversable_Defect,No Heart Problem
3,61,Male,Typical Angina,148,203,False,1,161,No,0.0,downsloping,1,Reversable_Defect,No Heart Problem
4,62,Female,Typical Angina,138,294,True,1,106,No,1.9,flat,3,Fixed_Defect,No Heart Problem